%table.table.table-hover
  %thead
    %tr
      %th Questionnaire
      %th Point

  %tbody
    - @questionnaires.each do |questionnaire|
      %tr
        %td= questionnaire.name
        - if (point = UserService.point(current_user, questionnaire)).nil?
          %td.w200= link_to 'Take quiz', take_quizzes_path(questionnaire_id: questionnaire)
        - else
          %td.w200= link_to point, result_quizzes_path(questionnaire_id: questionnaire)
