<div class="modal fade" tabindex="-1" role="dialog" id="modal-uploader">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag upload_nodes_path, multipart: true do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload to Evaluation</h4>
      </div>
      <div class="modal-body">
        <div class='form-group'>
          <input type='hidden' name='parent_id' value="<%= @file_node.try(:id)  %>"/>
          <label>
            Chose image
          </label>
          <input type='file' name='file' class='form-control' accept='image/jpg,image/jpeg,image/png'>
        </div>

      </div>
      <div class="modal-footer text-right modal-actions">
        <button type='submit' class="btn btn-primary">
          Upload
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
