%table.table.table-striped
  %thead
    %tr
      %th
        Name
      %th
        Modified
      %th
        Labels
      %th
        Additional sharing
  %tbody
    - if @file_node
      %tr
        - if @file_node.parent
          %th= link_to "...", node_path(@file_node.parent)
        - else
          %th= link_to "Home", nodes_path
        %th
        %th
        %th
    - nodes.each do |node|
      = render partial: 'nodes/list_row', locals: {node: node}
.text-center
  = paginate nodes
