%table.table.table-striped
  %thead
    %tr
      %th
        Name
      %th
        Modified
      %th
        Additional sharing
  %tbody
    - nodes.each do |node|
      %tr
        %th
          - if node.is_file?
            %i.fa.fa-file-o
          - else
            %i.fa.fa-folder-o
          = node.name
        %th
          - if node.is_file?
            = node.updated_at.strftime('%m/%d/%Y %H:%M')
          - else
            \-.-
        %th
