%h1
  Files
  %span.pull-right
    -# %input#fileupload(title="Upload file" type="file")
    -#   %i.fa.fa-file-o
    %a.btn.btn-primary(title="Add folder")
      %i.fa.fa-folder-o
.progress-bar
= render partial: 'nodes/fileupload'
