.modal-header
  %button(type="button" class="close" data-dismiss="modal" aria-label="Close")
    %span(aria-hidden="true")
      &times;
  %h4.modal-title
    Alert
.modal-body
  %p= message

.modal-footer
  %button(type="button" class="btn btn-default" data-dismiss="modal")
    Close
