- if @message
  $('#alertModal .modal-content').html("#{escape_javascript(render partial: 'alert_answered_modal', locals: {message: @message}) }");
  $('#alertModal').modal('show');
- else
  location.href = "#{result_quizzes_url(questionnaire_id: @questionnaire, user_id: @user.id)}"
