$('#sharingModal .modal-content').html("#{escape_javascript(render partial: 'sharing_modal', locals: {questionnaire: @questionnaire}) }");
$('#sharingModal').modal('show');

bindTokenInput('#tokenfield', #{raw User.where.not(id: current_user.id).map{|u| {id: u.id, name: u.name}}.to_json}, #{raw @questionnaire.users.map{|u| {id: u.id, name: u.name}}.to_json})
