.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Sidebar
    %li
      = link_to nodes_path do
        %i.fa.fa-file
        Files
    %li
      = link_to "" do
        %i.fa.fa-question
        Questionnaires
